<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="EAF Schedulr - convert your EAF PDF into a calendar file.">
		<title>EAF Schedulr</title>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LEEDEK781L"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-LEEDEK781L');
		</script>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/index.css') }}">
		<script defer src="{{ url_for('static', filename='app.js') }}"></script>
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>


